$spacer: 1rem;
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: auto;
    }
}

body {
    background-color: var(--bs-body-bg) !important;
}

.education {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about__profile-picture {
    picture {
        img {
            max-height: 200px;
        }
    }
}

.rad-showcase {
    padding-top: 20px;
    min-height: 20px !important;
}

[data-bs-theme="dark"] {
    .blog {
        .post {
            .post-title {
                a {
                    color: var(--bs-link-color);
                }
            }
        }
    }
}

::selection {
    color: black !important;
}
::-moz-selection {
    color: black !important;
}

:root {
    &[data-bs-theme="dark"] {
        color-scheme: dark;
        --bs-body-color: #fff;
        --bs-body-bg: #181818;
    }

    &[data-bs-theme="light"] {
        color-scheme: light;
        --bs-body-color: #fff;
        --bs-body-bg: #181818;
    }
}

.breadcrumb-item {
    &:not(:last-child) {
        &::after {
            content: "";
        }
    }
}

.breadcrumb-link {
    padding: 0.25rem;
}
.p-3 {
    padding: $spacer !important;
}

.svg-img {
    fill: #fff;
    img {
        background: #fff;
    }
}
.content-center {
    vertical-align: center;
    text-align: center;
}

.badge {
    color: var(--bs-body-bg);
}

.input-group-text {
    color: var(--bs-body-bg) !important;
}
