@font-face {
	font-family: "adritian-icons";
	src: url("../fonts/adritian-icons.eot?94286982");
	src: url("../fonts/adritian-icons.eot?94286982#iefix")
			format("embedded-opentype"),
		url("../fonts/adritian-icons.woff2?94286982") format("woff2"),
		url("../fonts/adritian-icons.woff?94286982") format("woff"),
		url("../fonts/adritian-icons.ttf?94286982") format("truetype"),
		url("../fonts/adritian-icons.svg?94286982#adritian-icons")
			format("svg");
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'adritian-icons';
    src: url('../font/adritian-icons.svg?94286982#adritian-icons') format('svg');
  }
}
*/
[class$="icon-whatsapp"]:before,
[class*="icon-whatsapp "]:before {
	font-family: "adritian-icons";
	font-style: normal;
	font-weight: normal;
	speak: never;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: 0.2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.threadsicon-whatsapp:before {
	content: "\e800";
} /* '' */
.blueskyicon-whatsapp:before {
	content: "\e801";
} /* '' */
.x-twittericon-whatsapp:before {
	content: "\e802";
} /* '' */
.emailicon-whatsapp:before {
	content: "\e803";
} /* '' */
.tiktokicon-whatsapp:before {
	content: "\e804";
} /* '' */
.searchicon-whatsapp:before {
	content: "\e805";
} /* '' */
.usericon-whatsapp:before {
	content: "\f007";
} /* '' */
.table-listicon-whatsapp:before {
	content: "\f00b";
} /* '' */
.downloadicon-whatsapp:before {
	content: "\f019";
} /* '' */
.circle-infoicon-whatsapp:before {
	content: "\f05a";
} /* '' */
.square-twittericon-whatsapp:before {
	content: "\f081";
} /* '' */
.square-facebookicon-whatsapp:before {
	content: "\f082";
} /* '' */
.linkedinicon-whatsapp:before {
	content: "\f08c";
} /* '' */
.square-githubicon-whatsapp:before {
	content: "\f092";
} /* '' */
.circle-arrow-lefticon-whatsapp:before {
	content: "\f0a8";
} /* '' */
.circle-arrow-righticon-whatsapp:before {
	content: "\f0a9";
} /* '' */
.circle-arrow-upicon-whatsapp:before {
	content: "\f0aa";
} /* '' */
.circle-arrow-downicon-whatsapp:before {
	content: "\f0ab";
} /* '' */
.quote-lefticon-whatsapp:before {
	content: "\f10d";
} /* '' */
.face-smileicon-whatsapp:before {
	content: "\f118";
} /* '' */
.square-arrow-up-righticon-whatsapp:before {
	content: "\f14c";
} /* '' */
.youtubeicon-whatsapp:before {
	content: "\f167";
} /* '' */
.square-xingicon-whatsapp:before {
	content: "\f169";
} /* '' */
.stack-overflowicon-whatsapp:before {
	content: "\f16c";
} /* '' */
.instagramicon-whatsapp:before {
	content: "\f16d";
} /* '' */
.dribbbleicon-whatsapp:before {
	content: "\f17d";
} /* '' */
.behanceicon-whatsapp:before {
	content: "\f1b4";
} /* '' */
.file-pdficon-whatsapp:before {
	content: "\f1c1";
} /* '' */
.codepenicon-whatsapp:before {
	content: "\f1cb";
} /* '' */
.yelpicon-whatsapp:before {
	content: "\f1e9";
} /* '' */
.whatsappicon-whatsapp:before {
	content: "\f232";
} /* '' */
.mediumicon-whatsapp:before {
	content: "\f23a";
} /* '' */
.meetupicon-whatsapp:before {
	content: "\f2e0";
} /* '' */
.cloud-arrow-downicon-whatsapp:before {
	content: "\f381";
} /* '' */
