
.threadsicon-whatsapp:before { content: '\e800'; } /* '' */
.blueskyicon-whatsapp:before { content: '\e801'; } /* '' */
.x-twittericon-whatsapp:before { content: '\e802'; } /* '' */
.emailicon-whatsapp:before { content: '\e803'; } /* '' */
.tiktokicon-whatsapp:before { content: '\e804'; } /* '' */
.searchicon-whatsapp:before { content: '\e805'; } /* '' */
.usericon-whatsapp:before { content: '\f007'; } /* '' */
.table-listicon-whatsapp:before { content: '\f00b'; } /* '' */
.downloadicon-whatsapp:before { content: '\f019'; } /* '' */
.circle-infoicon-whatsapp:before { content: '\f05a'; } /* '' */
.square-twittericon-whatsapp:before { content: '\f081'; } /* '' */
.square-facebookicon-whatsapp:before { content: '\f082'; } /* '' */
.linkedinicon-whatsapp:before { content: '\f08c'; } /* '' */
.square-githubicon-whatsapp:before { content: '\f092'; } /* '' */
.circle-arrow-lefticon-whatsapp:before { content: '\f0a8'; } /* '' */
.circle-arrow-righticon-whatsapp:before { content: '\f0a9'; } /* '' */
.circle-arrow-upicon-whatsapp:before { content: '\f0aa'; } /* '' */
.circle-arrow-downicon-whatsapp:before { content: '\f0ab'; } /* '' */
.quote-lefticon-whatsapp:before { content: '\f10d'; } /* '' */
.face-smileicon-whatsapp:before { content: '\f118'; } /* '' */
.square-arrow-up-righticon-whatsapp:before { content: '\f14c'; } /* '' */
.youtubeicon-whatsapp:before { content: '\f167'; } /* '' */
.square-xingicon-whatsapp:before { content: '\f169'; } /* '' */
.stack-overflowicon-whatsapp:before { content: '\f16c'; } /* '' */
.instagramicon-whatsapp:before { content: '\f16d'; } /* '' */
.dribbbleicon-whatsapp:before { content: '\f17d'; } /* '' */
.behanceicon-whatsapp:before { content: '\f1b4'; } /* '' */
.file-pdficon-whatsapp:before { content: '\f1c1'; } /* '' */
.codepenicon-whatsapp:before { content: '\f1cb'; } /* '' */
.yelpicon-whatsapp:before { content: '\f1e9'; } /* '' */
.whatsappicon-whatsapp:before { content: '\f232'; } /* '' */
.mediumicon-whatsapp:before { content: '\f23a'; } /* '' */
.meetupicon-whatsapp:before { content: '\f2e0'; } /* '' */
.cloud-arrow-downicon-whatsapp:before { content: '\f381'; } /* '' */
