<script src="https://kit.fontawesome.com/6153160269.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>

{{ $sass := resources.Get "scss/custom.scss" }}
{{ $style := $sass | css.Sass | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

{{- $code_syntax_highlight_css := resources.Get "code-highlight.css" | minify | fingerprint }}
<link href="{{ $code_syntax_highlight_css.RelPermalink }}" rel="stylesheet">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X2VZRNKV03"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-X2VZRNKV03');
</script>

<meta name="google-site-verification" content="fyPba-w1q6HQyK8CaObq_7ZCiJfjDKkR1vpVwSa_rHo" />

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NHPLBGNH');</script>
<!-- End Google Tag Manager -->

<script defer src="https://stats.fundor333.com/script.js" data-website-id="2e155fce-1621-4b4e-9c96-5ca3bf58daaf"></script>

<link type="text/plain" rel="author" href="humans.txt" />

{{ partial "fediverse_creator.html" . }}
